{% extends 'galerry/base.html' %}
{% load static %}
{% block content %}

    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
            {% include 'galerry/partials/_cabecalho-busca.html' %}
        </header>
        <main class="principal">
            {% include 'galerry/partials/_menu-lateral.html' %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if photograph.photo == blank or photograph.photo == null %}
                            <img class="card__imagem" src="/media/imagens/galeria/not-found" alt="photo">
                        {% else %}
                            <img class="card__imagem" src="{{ photograph.photo.url }}" alt="photo">
                        {% endif %}                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ photograph.name }}</p>
                                <p class="imagem__descricao"> {{ photograph.subtitle }} </p>
                                <p class="imagem__descricao"> {{ photograph.description }} </p>
                                <p class="imagem__texto"></p> 
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}